.todo--input-label {
  font-size: 1.5rem;
  color: #4a556a;
  margin-bottom: 10px;
}

.todo-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px auto;
}

.todo-form--row {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.todo-form-button[type="submit"] {
  margin: 0 0 0 auto;
  align-self: flex-end;
}

.todo-form-button[type="button"] {
  padding: 15px 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 70%
}

@media(max-width: 620px) {
  .todo-form--row {
    flex-direction: column;
  }

  .form-group {
    width: 100%;
    margin: 0 auto;
  }

  .todo-input {
    width: 100%;
    margin-bottom: 15px;
  }

  .todo-form-button[type="submit"] {
    width: 100%;
  }
}

