.todo-input {
  padding: 10px 15px;
  border-radius: 4px;
  border: 2px solid #656565;
  font-size: 1.2rem;
}

.todo-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px auto;
}

.todo-form--row {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.todo-form-button {
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid #6b71ff;
  background-color: #6b71ff;
  color: white;
  padding: 15px 30px;
}

.todo-form-button:hover {
  background-color: #2529ff;
}

.todo-form-button[type="submit"] {
  margin: 0 auto;
  align-self: flex-end;
}

.todo-form-button[type="button"] {
  padding: 15px 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 50%
}


.todo--input-label {
  font-size: 1.5rem;
  color: #4a556a;
  margin-bottom: 10px;
}

@media(max-width: 620px) {
  .todo-form--row {
    flex-direction: column;
  }

  .form-group {
    width: 100%;
    margin: 0 auto;
  }

  .todo-input {
    width: 100%;
    margin-bottom: 15px;
  }

  .todo-form-button[type="submit"] {
    width: 100%;
  }
}

