.todo-item {
  border-radius: 4px;
  padding: 10px 20px;
  width: 100%;
  background-color: white;
}

.todo-item button {
  cursor: pointer;
  font-size: 1.4rem;
  background-color: initial;
  border: none;
  width: 100%;
  color: #4a556a;
  text-align: start;
}

.completed {
  text-decoration: line-through wavy #ff4a2a;
}
